# Data Preprocessing(final)

ModuleNotFoundError: No module named 'sklearn'

In [17]:
import pandas as pd

In [18]:

import numpy as np

In [19]:
import seaborn as sns

In [20]:
import matplotlib.pyplot as plt

In [29]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.2)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.1 MB 10.2 MB/s eta 0:00:01
   --------------- ------------------------ 4.2/11.1 MB 9.9 MB/s eta 0:00:01
   ---------------------- ----------------- 6.3/11.1 MB 10.0 MB/s eta 0:00:01
   ------------------------------ --------- 8.4/11.1 MB 10.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.5/11.1 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 9.5 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.2-cp313-cp313-win_amd64.whl (41.0 MB)
   ---------------------------------------- 0.0/41.0 MB ? eta -:--:--
   -- ------------------------------------- 2.1/41.0 MB 10.0 MB/s eta 0:00:04
   --- ------------------------------------ 3.9/41.0 MB 10.1 MB/s eta 0:00:04
   ------ --------------------------------- 6.3/41.0 MB 10.5 MB/s eta 0:00:04
   -------- ------------------------------- 8.4/41.0 MB 10.3 MB/s eta 0:00:04
   ---------- ----------------------------- 10.5/41.0 MB 9.9 MB/s eta 0:00:04
   ----------- ---------------------------- 12.1/41.0 MB 9.6 MB/s eta 0:00:04
   ------------- -------------------------- 13.6/41.0 MB 9.4 MB/s eta 0:00:03
   --------------- ------------------------ 16.0/41.0 MB 9.4 MB/s eta 0:00:03
   ----------------- ---------------------- 17.8/41.0 MB 9.4 MB/s eta 0:00:03
   ------------------- -------------------- 19.9/41.0 MB 9.4 MB/s eta 0:00:03
   --------------------- ------------------ 21.8/41.0 MB 9.4 MB/s eta 0:00:03
   ----------------------- ---------------- 23.9/41.0 MB 9.5 MB/s eta 0:00:02
   ------------------------- -------------- 25.7/41.0 MB 9.5 MB/s eta 0:00:02
   --------------------------- ------------ 28.0/41.0 MB 9.6 MB/s eta 0:00:02
   ----------------------------- ---------- 30.4/41.0 MB 9.7 MB/s eta 0:00:02
   ------------------------------- -------- 32.5/41.0 MB 9.7 MB/s eta 0:00:01
   ---------------------------------- ----- 34.9/41.0 MB 9.8 MB/s eta 0:00:01
   ------------------------------------ --- 37.0/41.0 MB 9.8 MB/s eta 0:00:01
   -------------------------------------- - 39.1/41.0 MB 9.8 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.0 MB 9.8 MB/s eta 0:00:01
   ---------------------------------------- 41.0/41.0 MB 9.6 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.2 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler, RobustScaler

In [31]:
from sklearn.linear_model import LinearRegression, LogisticRegression

In [32]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [3]:
df=pd.read_csv('Obesity prediction.csv')

In [4]:
tushib_qolganlar=df.isnull().sum()

In [5]:
tushib_qolganlar

Gender            2
Age               3
Height            1
Weight            4
family_history    3
FAVC              7
FCVC              5
NCP               2
CAEC              6
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

In [6]:
missing_col=df.isnull().sum()

In [7]:
missing_count = df.isna().sum().sort_values(ascending=False)
cols_with_missing = missing_count[missing_count.values > 0].index
missing_count[missing_count.values > 0]

FAVC              7
CAEC              6
FCVC              5
CH2O              4
Weight            4
MTRANS            3
Age               3
CALC              3
family_history    3
Gender            2
NCP               2
Height            1
SMOKE             1
dtype: int64

In [8]:
df.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2108 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2104 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2105 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [12]:
for col in df.columns:
    if df[col].dtype=='object':
        df[col].fillna(df[col].mode()[0],inplace=True)
    else:
        df[col].fillna(df[col].mean(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_8988\2153123511.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_8988\2153123511.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)

In [13]:
df.isnull().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

# Encoding  objectlarni intager yo floatga aylantiramiz

In [35]:
df_encoded=df.copy()

In [36]:
from sklearn.preprocessing import LabelEncoder  
for col in df_encoded.select_dtypes(include=['object']).columns:
    cardinality=df_encoded[col].nunique()
    if cardinality<=5:
        le=LabelEncoder()
        df_encoded[col]=le.fit_transform(df_encoded[col])
    else:
        df_encoded=pd.get_dummies(df_encoded,columns=[col],dtype=int, drop_first=True)
df=df_encoded

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       2111 non-null   int64
 1   Age                          2111 non-null   float64
 2   Height                       2111 non-null   float64
 3   Weight                       2111 non-null   float64
 4   family_history               2111 non-null   int64
 5   FAVC                         2111 non-null   int64
 6   FCVC                         2111 non-null   float64
 7   NCP                          2111 non-null   float64
 8   CAEC                         2111 non-null   int64
 9   SMOKE                        2111 non-null   int64
 10  CH2O                         2111 non-null   float64
 11  SCC                          2111 non-null   int64
 12  FAF                          2111 non-null   float64
 13  TUE                          2111 non-null   float64
 14  CALC                         2111 non-null   int64
 15  MTRANS                       2111 non-null   int64
 16  Obesity_Normal_Weight        2111 non-null   int64
 17  Obesity_Obesity_Type_I       2111 non-null   int64
 18  Obesity_Obesity_Type_II      2111 non-null   int64
 19  Obesity_Obesity_Type_III     2111 non-null   int64
 20  Obesity_Overweight_Level_I   2111 non-null   int64
 21  Obesity_Overweight_Level_II  2111 non-null   int64
dtypes: float64(8), int64(14)
memory usage: 363.0 KB

# Scaling

# Min Max Scaling

In [ ]:
scaler=MinMaxScaler()
df=scaler.fit_transform(df)
df=pd.DataFrame(df)     #data frame qilmasa numpy da qolib ketadi va jadval korinishida bizga chiqarib bermaydi

In [39]:
df

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,0.0,0.148936,0.320755,0.186567,1.0,0.0,0.5,0.666667,0.666667,0.0,...,0.000000,0.500000,1.000000,0.75,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.148936,0.132075,0.126866,1.0,0.0,1.0,0.666667,0.666667,1.0,...,1.000000,0.000000,0.666667,0.75,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.191489,0.660377,0.283582,1.0,0.0,0.5,0.666667,0.666667,0.0,...,0.666667,0.500000,0.333333,0.75,1.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.276596,0.660377,0.358209,0.0,0.0,1.0,0.666667,0.666667,0.0,...,0.666667,0.000000,0.333333,1.00,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.170213,0.622642,0.379104,0.0,0.0,0.5,0.000000,0.666667,0.0,...,0.000000,0.000000,0.666667,0.75,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0.0,0.148443,0.491943,0.689616,1.0,1.0,1.0,0.666667,0.666667,0.0,...,0.558756,0.453124,0.666667,0.75,0.0,0.0,0.0,1.0,0.0,0.0
2107,0.0,0.169850,0.563366,0.707037,1.0,1.0,1.0,0.666667,0.666667,0.0,...,0.447130,0.299635,0.666667,0.75,0.0,0.0,0.0,1.0,0.0,0.0
2108,0.0,0.181362,0.570200,0.706637,1.0,1.0,1.0,0.666667,0.666667,0.0,...,0.471403,0.323144,0.666667,0.75,0.0,0.0,0.0,1.0,0.0,0.0
2109,0.0,0.220467,0.546132,0.704079,1.0,1.0,1.0,0.666667,0.666667,0.0,...,0.379702,0.293017,0.666667,0.75,0.0,0.0,0.0,1.0,0.0,0.0
2110,0.0,0.205632,0.544974,0.705020,1.0,1.0,1.0,0.666667,0.666667,0.0,...,0.342151,0.357069,0.666667,0.75,0.0,0.0,0.0,1.0,0.0,0.0

In [40]:
df=pd.DataFrame(df)

In [41]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,0.0,0.148936,0.320755,0.186567,1.0,0.0,0.5,0.666667,0.666667,0.0,...,0.000000,0.5,1.000000,0.75,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.148936,0.132075,0.126866,1.0,0.0,1.0,0.666667,0.666667,1.0,...,1.000000,0.0,0.666667,0.75,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.191489,0.660377,0.283582,1.0,0.0,0.5,0.666667,0.666667,0.0,...,0.666667,0.5,0.333333,0.75,1.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.276596,0.660377,0.358209,0.0,0.0,1.0,0.666667,0.666667,0.0,...,0.666667,0.0,0.333333,1.00,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.170213,0.622642,0.379104,0.0,0.0,0.5,0.000000,0.666667,0.0,...,0.000000,0.0,0.666667,0.75,0.0,0.0,0.0,0.0,0.0,1.0

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2111 non-null   float64
 1   1       2111 non-null   float64
 2   2       2111 non-null   float64
 3   3       2111 non-null   float64
 4   4       2111 non-null   float64
 5   5       2111 non-null   float64
 6   6       2111 non-null   float64
 7   7       2111 non-null   float64
 8   8       2111 non-null   float64
 9   9       2111 non-null   float64
 10  10      2111 non-null   float64
 11  11      2111 non-null   float64
 12  12      2111 non-null   float64
 13  13      2111 non-null   float64
 14  14      2111 non-null   float64
 15  15      2111 non-null   float64
 16  16      2111 non-null   float64
 17  17      2111 non-null   float64
 18  18      2111 non-null   float64
 19  19      2111 non-null   float64
 20  20      2111 non-null   float64
 21  21      2111 non-null   float64
dtypes: float64(22)
memory usage: 363.0 KB

In [7]:
original_columns=df.columns

NameError: name 'df' is not defined

In [6]:
original_columns

NameError: name 'original_columns' is not defined

In [ ]:

scaler=StandardScaler()
df=scaler.fit_transform(df)

NameError: name 'StandardScaler' is not defined

In [8]:
# Robust scaling
original_columns=df.columns

NameError: name 'df' is not defined

In [9]:
df=pd.DataFrame(df,columns=original_columns)

NameError: name 'pd' is not defined